<div class="col-lg-3 col-md-4">
  <div class="card">
    <div class="card-title">
      <img [src]="product.image" class="card-img-top img-card" alt="...">
      <button (click)="viewDetail()" type="button" class="btn btn-primary button-card">Ver detalles</button>
    </div>
    <div class="card-body text-center">
      <h5 class="card-title">{{ product.title | uppercase | reverse}}</h5>
      <h5>Precio: {{ product.price | currency:'€'}}</h5>
      <p class="card-text">{{ product.text | slice:0:45 }}</p>
      <p class="card-text">{{ today | date }}</p>
      <button (click)="viewDetail()" type="button" class="btn btn-primary button-card">Ver detalles</button>
    </div>
  </div>
</div>
