<div class="col-lg-3">
  <div class="card mb-4 shadow-sm">
    <div class="card" style="width: 18rem;">
      <img [src]="product.image" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ product.title | uppercase | reverse}}</h5>
        <h5>Precio: {{ product.price | currency:'€'}}</h5>
        <p class="card-text">{{ product.text | slice:0:45 }}</p>
        <p class="card-text">{{ today | date }}</p>
        <button (click)="viewDetail()" type="button" class="btn btn-primary">Ver detalles</button>
      </div>
    </div>
  </div>
</div>
